body {
  margin: 0;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;

  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.096);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}

label {
  border-radius: 50%;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  margin: 5px 5px;
  cursor: pointer;

  transition: 0.1s linear;
}

label:hover {
  transform: scale(1.2);
}

label[for="red"],
label[for="red-search"] {
  background-color: rgb(231, 118, 98);
}
label[for="blue"],
label[for="blue-search"] {
  background-color: rgb(121, 180, 248);
}
label[for="green"],
label[for="green-search"] {
  background-color: rgb(76, 218, 130);
}
label[for="yellow"],
label[for="yellow-search"] {
  background-color: rgb(241, 231, 92);
}
label[for="black"],
label[for="black-search"] {
  background-color: rgb(0, 0, 0);
}

label[for="none-search"] {
  position: relative;
  transform: rotate(50deg);
}

label[for="none-search"]::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  margin: auto;
}

.colorSelector input {
  display: none;
}

.colorSelector {
  display: flex;
}
